.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

  max-width: 350px;

  opacity: 0.5;
  filter: grayscale(100%);

  transition:
    opacity 0.1s ease,
    filter 0.1s ease;

  &Role {
    align-self: flex-start;

    margin-bottom: 30px;

    font-family: 'GOST type B', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.17;
  }

  &Name {
    width: 100%;
    margin-bottom: 10px;

    font-family: Germano, sans-serif;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    text-align: left;
  }

  &Description {
    flex-wrap: wrap;

    width: 100%;
    max-width: 100%;

    font-family: 'GOST type B', sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.19; /* 118.75% */
  }
}

.colorful {
  opacity: 1;
  filter: grayscale(0);
}

.imgContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.img {
  z-index: 1;

  width: 100%;
  height: 100%;

  text-align: center;

  background-color: var(--white);
  border-radius: 50%;
}

.img_inactive {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  filter: grayscale(100%);
}

.colorful:hover .img_inactive {
  display: none;
}

@media screen and (width <= 1450px) {
  .card {
    &Name {
      margin-bottom: 7px;
      font-size: 24px;
      line-height: 28px;
    }

    &Role {
      margin-bottom: 22.5px;
      font-size: 15px;
      line-height: 18px;
    }

    &Description {
      max-width: 260px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  .imgContainer {
    width: 225px;
    height: 225px;
    margin-bottom: 7px;
  }
}

@media screen and (width <= 1280px) {
  .imgContainer {
    margin-bottom: 22px;
  }
}
