.listElement {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  box-sizing: border-box;
  min-width: 47%;
  max-width: 47%;
  min-height: 280px;
  padding: 20px;

  background: var(--white);
  border: 2px solid var(--dark-blue);

  transition: all 0.2s ease;

  @media screen and (width <= 1280px) {
    box-sizing: content-box;
    width: max-content;
    min-width: 47;
    max-width: none;
  }
}

.cardTitle {
  display: flex;
  align-items: flex-start;

  box-sizing: border-box;

  font-family: Germano, sans-serif;
  font-size: 64px;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  color: var(--dark-blue);
  text-align: left;

  @media screen and (width <= 1280px) {
    font-size: 48px;
  }
}

.cardNumber {
  margin-right: 10px;

  font-family: Molot-Regular, sans-serif;
  font-size: 66px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: var(--white, #fff);
  text-align: right;

  -webkit-text-stroke: 3.5px var(--dark-blue);

  @media screen and (width <= 1280px) {
    font-size: 50px;
  }
}

.cardText {
  max-width: 100%;

  font-family: 'GOST type B', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.19; // 38px;
  color: var(--white);
  text-align: left;
  white-space: pre-wrap;

  @media screen and (width <= 1280px) {
    font-size: 20px;
    line-height: 1.2; // 24px;
  }
}

.text {
  width: 100%;

  font-family: Germano, sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  color: var(--dark-blue);
  text-align: left;
  white-space: pre-wrap;

  @media screen and (width <= 1280px) {
    font-size: 32px;
  }
}

.button {
  display: flex;
  column-gap: 20px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 0 0 var(--dark-blue);
  }

  &:hover .card {
    background: var(--dark-blue);
  }

  &:hover .cardTitle {
    color: var(--white, #fff);
  }
}
