.cards {
  display: flex;
  grid-area: cards;
  flex-direction: column;
  row-gap: 24px;

  @media screen and (width <= 1280px) {
    max-width: 280px;
  }

  @media screen and (width <= 360px) {
    row-gap: 15px;
    max-width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &Header {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;

    width: 100%;
    padding: 4px 0;

    border-bottom: 1px solid var(--dark-blue);
  }

  &TitleBig {
    font-family: Molot, sans-serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    line-height: 1; // 100px; /* 100% */
    color: var(--dark-blue);

    @media screen and (width <= 1280px) {
      font-size: 40px;
    }
  }

  &TitleSmall {
    margin: 0 0 8px;

    font-family: Germano, sans-serif;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    line-height: 1; // 48px; /* 100% */
    color: var(--dark-blue);

    @media screen and (width <= 1280px) {
      margin: 0 0 2px;
      font-size: 24px;
    }
  }

  &Text {
    font-family: 'GOST type B', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal; // 38px; /* 118.75% */
    line-height: 1.17; // 28px; /* 116.667% */
    color: var(--dark-blue);

    @media screen and (width <= 1280px) {
      font-size: 20px;
      line-height: 1.2; // 24px; /* 120% */
    }
  }
}

.link {
  text-decoration: underline;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}
