.form {
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 122px;
}

.fieldset {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: calc(414px + (609 - 414) * ((100vw - 1280px) / (1920 - 1280)));
  margin: 0;
  padding: 0;

  border: none;
}

.button {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 65%;
}

.contact {
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 100%;
  min-height: 86px;
  margin-top: 28px;

  border-bottom: 3px solid var(--white, #fff);

  &:first-of-type {
    margin-top: 0;
  }

  &Error {
    border-color: var(--error-for-dark, #FA391F);
  }
}

.inputContainer {
  position: relative;

  display: flex;
  flex-direction: column-reverse;

  width: 100%;
  max-width: calc(414px + (561 - 414) * ((100vw - 1280px) / (1920 - 1280)));
}

.input {
  resize: none;

  flex: 1;

  width: 100%;
  max-width: calc(414px + (609 - 414) * ((100vw - 1280px) / (1920 - 1280)));
  height: 38px;
  margin: 0;
  padding: 0;

  font-family: var(--text-1-font-family, 'GostTypeB-Standard', sans-serif);
  font-size: var(--text-1-font-size, 32px);
  font-weight: var(--text-1-font-weight, 400);
  line-height: var(--text-1-line-height, 38px);
  color: var(--white, #fff);
  text-align: left;

  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--electric, #0049D8);

  &::placeholder {
    flex: 1;
    color: var(--white-60, #a8bed8);
    text-align: left;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

textarea::placeholder {
  line-height: 38px;
}

.textClue {
  display: none;

  font-family: var(--text-3-font-family, 'GostTypeB-Standard', sans-serif);
  font-size: var(--text-3-font-size, 20px);
  font-weight: var(--text-3-font-weight, 400);
  line-height: var(--text-3-line-height, 24px);
  color: var(--darkblue-50, #8096b1);
  text-align: left;

  &Error {
    color: var(--error-for-dark, #FA391F);
  }
}

.checkboxContainer {
  cursor: pointer;

  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  max-width: calc(698px + (1028 - 698) * ((100vw - 1280px) / (1920 - 1280)));
  margin-top: 32px;
  margin-left: calc(322px + (452 - 322) * ((100vw - 1280px) / (1920 - 1280)));
}

.checkbox {
  position: absolute;
  z-index: -1;

  display: block;

  width: 0;
  height: 0;

  opacity: 0;
}

.checkboxText {
  margin: 0;
  padding: 0;

  font-family: "GOST type B", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  color: var(--dark-blue, #002d63);

  &::before {
    content: '';

    position: absolute;
    top: 18px;
    left: -72px;

    display: flex;

    width: 40px;
    height: 40px;

    background-image: url("./checkbox/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
  }
}

.checkboxTextConfidential {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.checkbox:checked + .checkboxText::before {
  background-image: url("./checkbox/checkboxChecked.svg");
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus + .textClue {
  display: flex;
}