.form {
  position: relative;

  display: flex;
  gap: 96px;

  box-sizing: border-box;
  width: fit-content;
  margin-bottom: 102px;
}

.fieldset {
  display: flex;
  flex-direction: column;

  width: calc(414px + (609 - 414) * ((100vw - 1280px) / (1920 - 1280)));
  margin: 0;
  padding: 0;

  border: none;
}

.button {
  margin-top: 20px;
}

.contact {
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 86px;
  margin-top: 28px;

  border-bottom: 3px solid var(--white, #fff);

  &:first-of-type {
    margin-top: 0;
  }

  &Error {
    border-color: var(--error-for-dark, #fa391f);
  }
}

.inputContainer {
  position: relative;

  display: flex;
  flex-direction: column-reverse;

  width: 100%;
  max-width: calc(366px + (561 - 366) * ((100vw - 1280px) / (1920 - 1280)));
}

.input {
  resize: none;

  flex: 1;

  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;

  font-family: GostTypeB-Standard, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  color: var(--white, #fff);
  text-align: left;

  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--electric, #0049d8);

  &::placeholder {
    flex: 1;
    color: var(--white-60, #a8bed8);
    text-align: left;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

textarea::placeholder {
  line-height: var(--text-1-line-height, 38px);
}

.textClue {
  display: none;

  font-family: GostTypeB-Standard, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--darkblue-50, #8096b1);
  text-align: left;

  &Error {
    color: var(--error-for-dark, #fa391f);
  }
}

.checkboxContainer {
  cursor: pointer;

  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  margin-top: 32px;
  margin-left: 56px;
}

.checkbox {
  position: absolute;
  z-index: -1;

  display: block;

  width: 0;
  height: 0;

  opacity: 0;
}

.checkboxText {
  margin: 0;
  padding: 0;

  font-family: GostTypeB-Standard, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: var(--white-60percent, #a8bed8);
  text-align: left;

  &::before {
    content: '';

    position: absolute;
    top: 8px;
    left: -56px;

    display: flex;

    width: 40px;
    height: 40px;

    background-image: url('./checkbox/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
  }
}

.checkboxTextConfidential {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.checkbox:checked + .checkboxText::before {
  background-image: url('./checkbox/checkboxChecked.svg');
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus + .textClue {
  display: flex;
}

@media screen and (width <= 1280px) {
  .form {
    gap: 85px;
    margin-bottom: 96px;
  }

  .fieldset {
    width: calc(400px + (414 - 400) * ((100vw - 768px) / (1280 - 768)));
  }

  .button {
    margin-top: 40px;
  }

  .contact {
    height: 68px;
  }

  .inputContainer {
    max-width: calc(352px + (366 - 352) * ((100vw - 768px) / (1280 - 768)));
  }

  .input {
    height: 28px;

    font-family: GostTypeB-Standard, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }

  textarea::placeholder {
    line-height: 28px;
  }

  .textClue {
    font-family: GostTypeB-Standard, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }

  .checkboxText {
    font-family: GostTypeB-Standard, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    &::before {
      top: 16px;
    }
  }
}

@media screen and (width <= 768px) {
  .form {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .fieldset {
    width: calc(320px + (400 - 320) * ((100vw - 360px) / (768 - 360)));
  }

  .button {
    right: 102px;
    margin-top: 11px;
  }

  .inputContainer {
    max-width: calc(288px + (352 - 288) * ((100vw - 360px) / (768 - 360)));
  }
}

@media screen and (width <= 360px) {
  .fieldset {
    width: 320px;
  }

  .button {
    right: 0;
    margin: 0 auto;
  }

  .contact {
    border-bottom: 1px solid var(--white, #fff);
  }

  .inputContainer {
    max-width: 288px;
  }

  .input {
    font-size: 20px;
    line-height: 24px;
  }
}
