.TeamSliderSection,
.TeamSliderSection * {
  box-sizing: border-box;
}

.TeamSliderSection {
  width: 100%;
  height: 724px;
  margin: 0 0 200px;
  color: var(--dark-blue, #002d63);
}

.sectionTitle {
  width: 100%;
  margin: 0;
  padding: 0 0 0 100px;

  font-family: Germano, sans-serif;
  font-size: 64px;
  font-weight: 300;
  font-style: normal;
  line-height: 1; /* 100% 64px */
  color: var(--darkblue, #002d63);
  text-align: left;
}

.slider {
  padding-top: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0.5;
  filter: grayscale(100%);
}

[class*='react-multi-carousel-item--active'] {
  opacity: 1;
  filter: grayscale(0);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

  max-width: 350px;

  &Picture {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }

  &Photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    text-align: center;

    background-image: url('https://i.ibb.co/8By7nJT/photo.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 50%;

    &:hover {
      background-image: url('https://i.ibb.co/t2dnvXV/photo-With-Smile.jpg');
    }
  }

  &Role {
    align-self: flex-start;

    margin-bottom: 30px;

    font-family: 'GOST type B', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px; /* 116.667% */
  }

  &Name {
    width: 100%;
    margin-bottom: 10px;

    font-family: Germano, sans-serif;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    line-height: 48px;
    text-align: left;
  }

  &Description {
    flex-wrap: wrap;

    max-width: 350px;

    font-family: 'GOST type B', sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 38px; /* 118.75% */
  }
}

.radiant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 600px;

  background: radial-gradient(50% 50% at 50% 50%, #0049d8 0%, rgb(255 255 255 / 0%) 75%);
}

.customLeftArrow {
  position: absolute;
  left: 100px;
}

.customRightArrow {
  position: absolute;
  right: 100px;
}

@media screen and (width <= 1600px) {
  .radiant {
    background: radial-gradient(50% 50% at 50% 50%, #0049d8 0%, rgb(255 255 255 / 0%) 70%);
  }
}

@media screen and (width <= 1450px) {
  .TeamSliderSection {
    height: 511px;
    margin: 0 0 160px;
  }

  .card {
    &Picture {
      width: 225px;
      height: 225px;
      margin-bottom: 7px;
    }

    &Name {
      margin-bottom: 7px;
      font-size: 24px;
      line-height: 28px;
    }

    &Role {
      margin-bottom: 22.5px;
      font-size: 15px;
      line-height: 18px;
    }

    &Description {
      max-width: 260px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  .radiant {
    width: 450px;
    height: 450px;
  }

  .customLeftArrow {
    top: 224px;
    left: 50px;
    width: 80px;
    height: 80px;
  }

  .customRightArrow {
    top: 224px;
    right: 50px;
    width: 80px;
    height: 80px;
  }
}

@media screen and (width <= 1280px) {
  .sectionTitle {
    padding-left: 50px;
  }

  .card {
    &Picture {
      margin-bottom: 22px;
    }
  }
}

@media screen and (width <= 768px) {
  .TeamSliderSection {
    height: 511px;
    margin-bottom: 120px;
  }

  .sectionTitle {
    padding-left: 32px;
    font-size: 48px;
    line-height: 48px;
  }

  .slider {
    padding-top: 97px;
  }

  [class*='react-multi-carousel-item--active'] .card {
    position: relative;
    left: 30px;
    transition: left 0.5s ease;
  }

  [class*='react-multi-carousel-item--active'] {
    opacity: 1;
    filter: grayscale(0);
    transition:
      opacity 0.1s ease,
      filter 0.1s ease; // Плавные переходы для opacity и filter
  }

  [class*='react-multi-carousel-item--active']
    + [class*='react-multi-carousel-item--active']
    .card {
    position: relative;
    left: -30px;
    transition: left 0.5s ease;
  }

  .customLeftArrow {
    top: 240px;
    left: 30px;
  }

  .customRightArrow {
    top: 240px;
    right: 30px;
  }
}

@media screen and (width <= 360px) {
  .sectionTitle {
    padding: 0 0 0 16px;
    line-height: 24px;
  }

  .slider {
    padding-top: 32px;
  }

  .item {
    opacity: 1;
    filter: grayscale(0);
  }

  [class*='react-multi-carousel-item--active'] .card {
    left: 0;
  }

  .radiant {
    background: radial-gradient(50% 50% at 50% 50%, #0049d8 0%, rgb(255 255 255 / 0%) 66%);
  }

  .customLeftArrow {
    top: 193px;
    left: 16px;
    width: 44px;
    height: 44px;
  }

  .customRightArrow {
    top: 193px;
    right: 16px;
    width: 44px;
    height: 44px;
  }
}
