.lead {
  display: grid;
  grid-template-areas: 'info description cards';
  grid-template-columns: 240px auto minmax(320px, 340px);
  column-gap: 60px;

  box-sizing: border-box;
  width: 100%;
  max-width: var(--el-max-width);
  margin: 0 auto;

  @media screen and (width <= 1280px) {
    grid-template:
      'info description' 1fr
      'cards description' 4fr / 320px auto;
    gap: 52px 24px;
  }

  @media screen and (width <= 700px) {
    grid-template-columns: auto auto;
  }

  @media screen and (width <= 500px) {
    grid-template:
      'info' auto
      'cards' auto
      'description' auto / auto;
    row-gap: 32px;
  }
}

.info {
  grid-area: info;

  font-family: 'GOST type B', sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.17; //  28px; /* 116.667% */
  color: var(--dark-blue);

  @media screen and (width <= 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.description {
  display: flex;
  grid-area: description;
  flex-direction: column;
  row-gap: 30px;

  font-family: 'GOST type B', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: var(--dark-blue);

  @media screen and (width <= 500px) {
    row-gap: 16px;
  }
}
