.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: var(--el-max-width);
  padding: 200px 0 0;

  @media screen and (width <= 768px) {
    overflow-x: hidden;
    max-width: 100%;
    padding: 150px 0 0;
  }

  @media screen and (width <= 360px) {
    padding: 84px 0;
  }
}

.title {
  display: flex;
  gap: 32px;

  margin-bottom: 80px;

  font-family: Molot, sans-serif;
  font-size: calc(0.07 * var(--page-max-width));
  font-weight: 400;
  line-height: 1;
  color: var(--dark-blue);

  @media screen and (width <= 768px) {
    margin-bottom: 60px;
  }

  @media screen and (width <= 690px) {
    gap: 4px;
  }

  @media screen and (width <= 360px) {
    margin-bottom: 32px;
  }
}

.unhighlightedTitle {
  color: var(--white);

  -webkit-text-stroke: 2px var(--dark-blue);

  @media screen and (width <= 500px) {
    -webkit-text-stroke: 1px var(--dark-blue);
  }
}

// response styles
.responseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.responseTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 30px 0 40px;

  border: solid var(--dark-blue);
  border-width: 2px 0;
}

.responseText {
  font-family: Germano-Regular, sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1; // 64px
  color: var(--dark-blue);
  text-align: center;
  letter-spacing: 0;

  @media screen and (width <= 1280px) {
    font-size: 40px;
  }

  @media screen and (width <= 360px) {
    font-size: 24px;
  }
}

.button {
  position: relative;

  margin: 100px 0 200px;

  font-size: 48px;
  line-height: 1;
  white-space: pre-wrap;

  @media screen and (width <= 1280px) {
    max-width: 240px;
    max-height: 240px;
    font-size: 40px;
  }
}
