.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: var(--el-max-width);
  padding: 200px 0 0;

  @media screen and (width <= 768px) {
    max-width: 100%;
    padding: 150px 0 0;
  }

  @media screen and (width <= 360px) {
    padding: 84px 0;
  }
}

.title {
  display: flex;
  gap: 32px;

  margin-bottom: 80px;

  font-family: Molot, sans-serif;
  font-size: calc(0.07 * var(--page-max-width));
  font-weight: 400;
  line-height: 1;
  color: var(--dark-blue);

  @media screen and (width <= 768px) {
    margin-bottom: 60px;
  }

  @media screen and (width <= 690px) {
    gap: 4px;
  }

  @media screen and (width <= 360px) {
    margin-bottom: 32px;
  }
}

.unhighlightedTitle {
  color: var(--white);

  -webkit-text-stroke: 2px var(--dark-blue);

  @media screen and (width <= 500px) {
    -webkit-text-stroke: 1px var(--dark-blue);
  }
}

// form styles

.form {
  --number-font-size: min(128px, calc(var(--page-max-width) * 0.062));
  --text-container-width: 15.8%;
  --grid-column-gap: 20px;
  --input-min-height: 160px;
  --input-side-padding: 9.5%; // 120px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;

  @media screen and (width <= 1280px) {
    --text-container-width: 17.1%;
    --grid-column-gap: 13px;
    --input-side-padding: 7.7%; // 60px;
    --input-min-height: 110px;
  }

  @media screen and (width <= 690px) {
    --text-container-width: 17.9%;
    --grid-column-gap: 8px;
    --input-side-padding: 4.5%; // 16px;
    --input-min-height: 70px;
  }
}

.fieldset {
  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;
}

.checkboxContainer {
  z-index: 2;

  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 80%;
  margin: 28px 0 0;
  margin-top: 24px;
  padding: 0;

  @media screen and (width <= 1280px) {
    column-gap: 20px;
    max-width: 85%;
  }

  @media screen and (width <= 768px) {
    column-gap: 20px;
    max-width: var(--el-max-width);
    margin-top: 8px;
  }

  @media screen and (width <= 360px) {
    column-gap: 8px;
    margin-top: 12px;
  }
}

.checkbox {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkboxLabel {
  box-sizing: border-box;
  width: 60px;
  height: 60px;

  @media screen and (width <= 1280px) {
    width: 40px;
    height: 40px;
  }
}

.checkboxText {
  margin: 0;
  padding: 0;

  font-family: Germano, sans-serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal; // magnification to better match the layout
  line-height: 1.2;
  color: var(--dark-blue);
  text-align: left;

  @media screen and (width <= 1280px) {
    font-size: 32px;
  }

  @media screen and (width <= 690px) {
    font-size: 30px;
  }

  @media screen and (width <= 360px) {
    font-size: 24px;
    line-height: 1.13;
  }
}

.checkboxTextPolicy {
  cursor: pointer;

  position: relative;

  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 13px;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }

  @media screen and (width <= 1280px) {
    text-underline-offset: 9px;
  }

  @media screen and (width <= 360px) {
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
  }
}

// login form reset link, filler for change pass page
.pwdResetLinkPosition,
.filler {
  z-index: 2;

  display: grid;
  grid-template-columns: var(--text-container-width) var(--grid-column-gap) auto;

  box-sizing: border-box;
  width: 100%;
  margin: 16px auto 0;
  padding: 0 var(--input-side-padding);

  @media screen and (width <= 690px) {
    margin-top: 8px;
  }
}

.pwdResetLinkContainer {
  display: flex;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.passwordResetLink {
  cursor: pointer;

  position: relative;

  margin: 0;
  padding: 0;

  font-family: Germano, sans-serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  color: var(--dark-blue);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 13px;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }

  @media screen and (width <= 1280px) {
    font-size: 32px;
    text-underline-offset: 9px;
  }

  @media screen and (width <= 360px) {
    font-size: 24px;
    line-height: 1.13;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
  }
}

.button {
  position: relative;

  margin: 100px 0 200px;

  font-size: 48px;
  line-height: 1;
  white-space: pre-wrap;

  @media screen and (width <= 1280px) {
    max-width: 240px;
    max-height: 240px;
    font-size: 40px;
  }
}

// response styles
.responseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.responseTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 30px 0 40px;

  border: solid var(--dark-blue);
  border-width: 2px 0;
}

.responseText {
  font-family: Germano-Regular, sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1; // 64px
  color: var(--dark-blue);
  text-align: center;
  letter-spacing: 0;

  @media screen and (width <= 1280px) {
    font-size: 40px;
  }

  @media screen and (width <= 360px) {
    font-size: 24px;
  }
}
