@keyframes flash-white {
  0% {
    background: initial;
  }

  50% {
    background: var(--white);
  }

  100% {
    background: initial;
  }
}

.ArrowInCircleIcon {
  cursor: pointer;

  overflow: hidden;

  width: 140px;
  height: 140px;

  line-height: 0;

  border-radius: 69px;

  transition: 0.3s;

  @media screen and (width > 768px) {
    &:hover {
      background: var(--white);
    }

    &:active rect {
      stroke: var(--electric);
    }

    &:active path {
      fill: var(--electric);
    }
  }
}

.touched {
  animation: flash-white 0.6s ease-in-out;
}

.reverse svg {
  transform: rotate(180deg);
}

@media screen and (width <= 1280px) {
  .ArrowInCircleIcon {
    width: 80px;
    height: 80px;
  }
}

@media screen and (width <= 360px) {
  .ArrowInCircleIcon {
    width: 44px;
    height: 44px;
  }
}
