.page {
  display: grid;
  grid-template-areas:
    'title .'
    'subtitle text'
    'description .';
  column-gap: 15px;
  align-content: center;
  align-items: end;

  width: 100%;
  max-width: var(--el-max-width);
  height: 100vh;
  max-height: 1080px;

  @media screen and (width <= 1280px) {
    grid-template-areas:
      'title title'
      'subtitle subtitle'
      'text text'
      'description description';
  }
}

.pageTitle {
  grid-area: title;

  padding-bottom: 30px;

  font-family: Molot, sans-serif;
  font-size: 130px;
  font-weight: 400;
  line-height: 0.71;
  color: var(--dark-blue-50);

  @media screen and (width <= 1280px) {
    font-size: calc(0.16 * var(--page-max-width));
  }

  @media screen and (width <= 360px) {
    padding-bottom: 0;
    font-size: 64px;
  }
}

.subTitle {
  grid-area: subtitle;

  font-family: Molot, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: var(--dark-blue);

  @media screen and (width <= 1280px) {
    font-size: 5.2vw;
  }

  @media screen and (width <= 360px) {
    font-size: 20px;
  }
}

.errorText {
  grid-area: text;

  font-family: Germano, sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  color: var(--dark-blue-50);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  letter-spacing: -0.04em;

  @media screen and (width <= 1280px) {
    padding-top: 90px;
  }

  @media screen and (width <= 360px) {
    padding-top: 40px;
    font-size: 20px;
  }
}

.errorDescription {
  grid-area: description;

  padding-top: 50px;

  font-family: 'GOST type B', sans-serif;
  font-size: 24px;
  font-weight: 400; // 38px;
  line-height: 1.17; // 28px;
  color: var(--dark-blue);
  text-align: left;
  letter-spacing: 0;

  @media screen and (width <= 1280px) {
    padding-top: 85px;
  }

  @media screen and (width <= 360px) {
    padding-top: 30px;
    font-size: 20px;
    line-height: 1.2; // 24px;
  }
}
