.pageTitleWrap,
.pageTitleWrap * {
  box-sizing: border-box;
}

.pageTitleWrap {
  width: var(--el-max-width);
  margin: 0 auto;
}

.pageTitle {
  box-sizing: border-box;
  width: fit-content;

  font-family: Molot, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0.75;
  color: var(--dark-blue, #002d63);
  text-align: left;
}

.subTitle {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'GOST type B', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px; /* 118.75% */
  color: var(--dark-blue, #002d63);

  border-color: var(--dark-blue, #002d63);
  border-style: solid;
  border-width: 4px 0 0;

  @media screen and (width <= 768px) {
    font-size: 24px;
    line-height: 1.17; // 28px; /* 116.667% */
    border-width: 2px 0 0;
  }

  @media screen and (width <= 360px) {
    font-size: 20px;
    line-height: 1.2; // 24px; /* 120% */
  }
}
