.btn {
  --side-offset: 0px;
  --size: 80px;

  position: absolute;
  z-index: 3;
  top: 60%;
  transform: translateY(-50%);

  width: var(--size);
  height: var(--size);

  &Left {
    left: var(--side-offset);
  }

  &Right {
    right: var(--side-offset);
  }

  @media screen and (width <= 768px) {
    --side-offset: 30px;
  }

  @media screen and (width <= 460px) {
    --side-offset: 16px;
    --size: 44px;
  }
}

.isHidden {
  opacity: 0;
}
