.buttonUp {
  cursor: pointer;

  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;

  padding: 10px 20px;

  color: #fff;

  opacity: 1;
  background-color: #007bff;
  border: none;
  border-radius: 5px;

  transition: opacity 0.3s ease-in-out;
}

.buttonUp:hover {
  background-color: #0056b3;
}

.buttonUpHidden {
  pointer-events: none;
  opacity: 0;
}
