.section {
  display: grid;
  grid-template-areas:
    'one one text'
    'two three text';
  grid-template-columns: 25% 25% auto;
  gap: 40px;

  width: 100%;
  max-width: var(--el-max-width);
  margin: 0 0 100px;
  padding: 0;

  @media screen and (width <= 1280px) {
    grid-template-columns: auto auto auto;
  }

  @media screen and (width <= 1000px) {
    grid-template-areas:
      'one one text'
      'two two text'
      'three three text';
    grid-template-columns: auto auto;
  }

  @media screen and (width <= 768px) {
    grid-template-areas:
      'one one text'
      'two three text';
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  @media screen and (width <= 690px) {
    grid-template-areas:
      'one one '
      'two three '
      'text text ';
    grid-template-columns: auto auto;
    gap: 12px;
  }
}

.gridArea {
  &_1 {
    grid-area: one;
  }

  &_text {
    grid-area: text;
  }

  &_2 {
    grid-area: two;
  }

  &_3 {
    grid-area: three;
  }
}
