.stage {
  color: var(--dark-blue, #002d63);
  border-top: 2px solid var(--dark-blue, #002d63);

  &Wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    width: 100%;
    max-width: var(--el-max-width);
    margin: 0 auto;
    padding-top: 23px;
  }

  &Row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Number {
    width: 100%;
    max-width: 200px;

    font-family: molot-regular, sans-serif;
    font-size: 128px;
    line-height: 1;
    color: var(--white, #fff);

    transition: all 0.2s;

    -webkit-text-stroke: 3.5px var(--dark-blue);

    &__filled {
      color: var(--dark-blue, #002d63);

      -webkit-text-stroke: initial;
    }
  }

  &TextWrap {
    width: 100%;
    max-width: 1290px;
  }

  &Title {
    font-family: Germano-Regular, sans-serif;
    font-size: 140px;
    line-height: 0.86; // 120px;
  }
}

.dummyPlus {
  width: 80px;
}

.text {
  font-family: GostTypeB-Standard, sans-serif;
  font-size: 32px;
  line-height: 1.19; // 38px;
}

.inactive {
  overflow-y: hidden;
  max-height: 0;
  padding-top: 0;
  transition: all 200ms ease-in;
}

.active {
  overflow-y: visible;
  max-height: 500px;
  padding-top: 9px;
  padding-bottom: 38px;
}

@media screen and (width <= 1920px) {
  .stage {
    &Number {
      font-size: calc(100px + (128 - 100) * ((100vw - 1280px) / (1920 - 1280)));
    }

    &TextWrap {
      max-width: calc(862px + (1290 - 862) * ((100vw - 1280px) / (1920 - 1280)));
    }

    &Title {
      font-size: calc(100px + (140 - 100) * ((100vw - 1280px) / (1920 - 1280)));
    }
  }
}

@media screen and (width <= 1280px) {
  .stage {
    &Wrapper {
      row-gap: 0;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    &Number {
      max-width: calc(100px + (200 - 100) * ((100vw - 768px) / (1280 - 768)));
      font-size: calc(66px + (100 - 66) * ((100vw - 768px) / (1280 - 768)));
    }

    &TextWrap {
      max-width: calc(535px + (862 - 535) * ((100vw - 768px) / (1280 - 768)));
    }

    &Title {
      font-size: calc(64px + (100 - 64) * ((100vw - 768px) / (1280 - 768)));
      line-height: 1.2;
    }
  }

  .dummyPlus {
    width: 70px;
  }

  .active {
    padding-bottom: 6px;
  }

  .text {
    font-size: 24px;
    line-height: 1.17; // 28px;
  }
}

@media screen and (width <= 768px) {
  .stage {
    &Wrapper {
      padding-bottom: 18px;
    }

    &Number {
      max-width: calc(49px + (100 - 49) * ((100vw - 360px) / (768 - 360)));
      font-size: calc(40px + (66 - 40) * ((100vw - 360px) / (768 - 360)));

      -webkit-text-stroke: 2px var(--dark-blue);

      &__filled {
        -webkit-text-stroke: initial;
      }
    }

    &TextWrap {
      max-width: calc(231px + (535 - 231) * ((100vw - 360px) / (768 - 360)));
    }

    &Title {
      font-size: calc(32px + (64 - 32) * ((100vw - 360px) / (768 - 360)));
      line-height: 1;
    }
  }

  .dummyPlus {
    width: calc(32px + (45 - 32) * ((100vw - 360px) / (768 - 360)));
  }

  .active {
    padding: 12px 0 0;

    &:first-child {
      padding-top: 16px;
    }

    &:last-child {
      padding-bottom: 8px;
    }
  }

  .text {
    font-size: 20px;
    line-height: 1.2; // 24px;
  }
}

@media screen and (width <= 540px) {
  .collapsed {
    width: 0;
  }

  .stageTextWrap__tel {
    max-width: initial;
  }
}

@media screen and (width <= 360px) {
  .stage {
    &Wrapper {
      padding-top: 6px;
      padding-bottom: 14px;
    }
  }

  .active {
    padding: 16px 0 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .collapsed {
    width: 0;
  }
}
