.footer {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  padding: 140px 0 100px;

  background: var(--darkblue, #002d63);

  @media screen and (width <= 1280px) {
    max-width: 1280px;
    padding: 100px 0 80px;
  }

  @media screen and (width <= 768px) {
    max-width: 768px;
    padding: 60px 0 110px;
  }

  @media screen and (width <= 690px) {
    flex-direction: column;
    max-width: 690px;
    padding: 32px 0 80px;
  }
}

.footerContainer {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  max-width: var(--el-max-width);
}

.basementContainer {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  max-width: var(--el-max-width);

  @media screen and (width <= 768px) {
    flex-wrap: wrap;
    row-gap: 24px;
  }
}

.firstContainer,
.secondContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;

  @media screen and (width <= 768px) {
    gap: 24px;
  }

  @media screen and (width <= 690px) {
    .firstContainer {
      margin-bottom: 24px;
    }
  }
}

.basementElement {
  width: max-content;

  font-family: 'GOST type B', sans-serif;
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 400;
  line-height: 1.18;
  color: var(--white, #fff);
  text-align: left;

  @media screen and (width <= 1280px) {
    font-size: clamp(20px, 1.8vw, 24px);
  }

  @media screen and (width <= 768px) {
    font-size: clamp(20px, 3.2vw, 24px);
  }

  @media screen and (width <= 690px) {
    font-size: clamp(16px, 5vw, 20px);
  }
}
