@use '../../styles/variables/global.scss';

.footer {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  height: fit-content;
  padding: 140px 0 100px 100px;

  background: var(--darkblue, #002d63);
}

.footerContainer {
  position: relative;
  display: flex;
}

.footerTitle {
  width: 565px;
  height: fit-content;
  margin-top: 86px;
  margin-right: 50px;

  font-family: var(--title-h-1-font-family, "Germano-Regular", sans-serif);
  font-size: var(--title-h-1-font-size, 140px);
  font-weight: var(--title-h-1-font-weight, 400);
  line-height: var(--title-h-1-line-height, 120px);
  color: var(--white, #fff);
  text-align: left;
  text-transform: uppercase;
}

.basementContainer {
  display: flex;
  width: 100%;
}

.firstContainer {
  display: flex;
  gap: 120px;
  width: fit-content;
  margin-right: 120px;
}

.secondContainer {
  display: flex;
  gap: 60px;
  width: fit-content;
}

.basementElement, .telephonesElement {
  font-family: "GOST type B", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  color: var(--white, #fff);
  text-align: left;
}

.telephonesContainer {
  display: flex;
  flex-direction: column;
}

.telephonesElement {
  margin-top: 32px;
}

.telephonesElement:first-of-type {
  margin-top: 0;
}