@use '../../styles/variables/global.scss';

// .footer,
// .footer * {
//   box-sizing: border-box;
// }

.footer {
  position: relative;

  overflow: hidden;
  display: flex;

  width: 100%;
  max-width: 1920px;
  height: fit-content;

  background: var(--darkblue, #002d63);
}

.footerContainer {
  position: relative;
  display: flex;
  margin: 140px 0 100px 100px;
}

.footerTitle {
  width: 565px;
  height: fit-content;
  margin-top: 86px;
  margin-right: 50px;

  font-family: var(--title-h-1-font-family, "Germano-Regular", sans-serif);
  font-size: var(--title-h-1-font-size, 140px);
  font-weight: var(--title-h-1-font-weight, 400);
  line-height: var(--title-h-1-line-height, 120px);
  color: var(--white, #fff);
  text-align: left;
  text-transform: uppercase;
}
