.form {
  --text-container-width: 14.5%; // 200px;
  --grid-column-gap: 20px;
  --input-side-padding: 9.3%; // 160px;
  --input-min-height: 114px;
  --input-font-size: 80px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;

  @media screen and (width <= 1280px) {
    --input-side-padding: 6.7%; // 80px;
    --text-container-width: 17%;
  }

  @media screen and (width <= 768px) {
    --input-side-padding: 2.6%; // 20px;
    --input-min-height: 95px;
    --input-font-size: 64px;
  }

  @media screen and (width <= 560px) {
    --input-side-padding: 5%; // 20px;
    --input-font-size: 32px;
    --input-min-height: 77px;
  }
}

.fieldset {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;
}

.button {
  position: absolute;
  z-index: 0;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (width <= 1280px) {
    bottom: 20%;
  }

  @media screen and (width <= 768px) {
    max-width: 280px;
    max-height: 280px;
  }
}

.inputContainer {
  position: relative;

  display: grid;
  grid-template-columns: var(--text-container-width) auto;
  column-gap: var(--grid-column-gap);

  box-sizing: border-box;
  width: 100%;
  min-height: var(--input-min-height);
  padding: 0 var(--input-side-padding);

  border: solid var(--dark-blue, #002d63);
  border-width: 0 0 2px;

  &:first-of-type {
    border-top-width: 2px;
  }
}

.input {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  align-self: stretch;

  box-sizing: border-box;
  width: 100%;

  // height: min-content;
  margin: 0;
  padding: 0;

  font-family: Germano-Regular, sans-serif;
  font-size: var(--input-font-size);
  font-weight: 400;
  line-height: 1; // 80px;
  color: var(--dark-blue, #002d63);

  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--electric, #0049d8);

  &::placeholder {
    color: var(--dark-blue-50, #8096b1);
    text-align: left;
    letter-spacing: -0.04em;

    @media screen and (width <= 768px) {
      letter-spacing: normal;
    }
  }
}

.textarea {
  resize: none;
  position: relative;
  min-height: var(--input-min-height);

  &::-webkit-scrollbar {
    display: none;
  }

  &::placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    line-height: 0;

    @media screen and (width <= 1060px) {
      line-height: 64px;
    }

    @media screen and (width <= 690px) {
      line-height: 52px;
    }
  }
}

.textContainer {
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
}

.textNumber {
  --number-font-size: 80px;

  padding-bottom: 10px;

  font-family: Molot-Regular, sans-serif;
  font-size: var(--number-font-size);
  font-weight: 400;
  font-style: normal;
  line-height: 1; // 80px;
  color: var(--white, #fff);
  text-align: left;

  transition: all 0.2s ease;

  -webkit-text-stroke: 3.5px var(--dark-blue);

  &Error {
    color: var(--error, #bf1700) !important;

    -webkit-text-stroke: var(--error, #bf1700);
  }

  @media screen and (width <= 1280px) {
    -webkit-text-stroke-width: 3px;
  }

  @media screen and (width <= 1060px) {
    --number-font-size: 66px;

    -webkit-text-stroke-width: 2px;
  }

  @media screen and (width <= 690px) {
    --number-font-size: 40px;

    -webkit-text-stroke-width: 1.2px;
  }
}

.textClue {
  overflow: hidden;

  max-height: 1px;

  font-family: Germano-Regular, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1; // 32px;
  color: var(--dark-blue, #002d63);

  opacity: 0;

  transition: all 0.2s ease;

  &Error {
    color: var(--error, #bf1700);
  }

  @media screen and (width <= 1060px) {
    font-size: 24px;
  }

  @media screen and (width <= 768px) {
    font-size: 20px;
  }

  @media screen and (width <= 768px) {
    font-size: 16px;
  }
}

.inputError {
  display: none;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  font-family: Germano-Regular, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: var(--error, #bf1700);
  text-align: left;

  &Active {
    display: flex;
  }

  @media screen and (width <= 1280px) {
    font-size: 40px;
  }

  @media screen and (width <= 768px) {
    font-size: 32px;
  }

  @media screen and (width <= 360px) {
    // padding: 8px 70px 0;
    font-size: 24px;
  }
}

.checkboxPosition {
  z-index: 1;

  display: grid;
  grid-template-columns: var(--text-container-width) var(--grid-column-gap) auto;

  box-sizing: border-box;
  width: 100%;
  padding: 0 var(--input-side-padding);

  @media screen and (width <= 560px) {
    display: block;
  }
}

.checkboxContainer {
  display: flex;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 800px;
  padding: 0;

  @media screen and (width <= 1280px) {
    margin-top: 16px;
    margin-bottom: 590px;
  }

  @media screen and (width <= 768px) {
    margin-bottom: 560px;
  }

  @media screen and (width <= 360px) {
    column-gap: 15px;
    margin-top: 8px;
    margin-bottom: 500px;
  }
}

.checkbox {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkboxLabel {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

.checkboxText {
  margin: 0;
  padding: 0;

  font-family: 'GOST type B', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.18; // 38px;
  color: var(--dark-blue, #002d63);

  @media screen and (width <= 768px) {
    font-size: 20px;
    line-height: 1.2; // 24px;
  }

  @media screen and (width <= 360px) {
    font-size: 16px;
    line-height: 1.13; // 18px;
  }
}

.checkboxTextConfidential {
  cursor: pointer;
  text-decoration-line: underline;
  text-underline-offset: 5px;

  @media screen and (width <= 360px) {
    text-underline-offset: 3px;
  }
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus + .textContainer,
.input:not(:placeholder-shown) + .textContainer {
  justify-content: flex-start;

  .textNumber {
    font-size: calc(var(--number-font-size) * 0.8);
    color: var(--dark-blue, #002d63);

    -webkit-text-stroke: unset;
  }

  .textClue {
    max-height: 50px;
    opacity: 1;
  }
}
