.TeamSliderSection,
.TeamSliderSection * {
  box-sizing: border-box;
}

.TeamSliderSection {
  width: 100%;
  color: var(--dark-blue, #002d63);
}

.sectionContent {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.whiteOverlay {
  position: absolute;
  z-index: 2;
  top: 0;

  width: 100px;
  height: 100%;

  &_left {
    left: 0;
    background: linear-gradient(to left, transparent, #fff);
  }

  &_right {
    right: 0;
    background: linear-gradient(to right, transparent, #fff);
  }

  @media screen and (width <= 1920px) {
    display: none;
  }
}

.slider {
  width: 100%;
  padding-top: 80px;

  &WithGradient {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    padding-bottom: 80px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (width <= 768px) {
  .slider {
    padding-top: 97px;
  }
}

@media screen and (width <= 768px) and (width > 690px) {
  [class*='react-multi-carousel-item--active'] .card {
    position: relative;
    left: 30px;
    transition: left 0.5s ease;
  }

  [class*='react-multi-carousel-item--active']
    + [class*='react-multi-carousel-item--active']
    .card {
    position: relative;
    left: -30px;
    transition: left 0.5s ease;
  }
}

@media screen and (width <= 360px) {
  .slider {
    padding-top: 32px;
  }

  .item {
    opacity: 1;
    filter: grayscale(0);
  }
}
